@{
  Layout = "_Layout";
}
@using PierresBakery.Models;
<h1>@Model["vendor"].Name </h1>
<h2>@Model["vendor"].Description</h2>

<h2>Orders:</h2>
@if(@Model["vendor"].VenderOrders.Count == 0)
{
  <h2>No orders to display</h2>
}
<ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
</ol>

<div class="links">
  <h4><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order for @Model["vendor"].Name</a></h4>
  <h4><a href='/vendors'>Return to vendor list</a></h4>
  <h4><a href='/'>Return to homepage</a></h4>
</div>